.track {
    position: relative;
    flex: 1 1 0;
    align-self: stretch;
    overflow: hidden;
}

.option {
    /* background-color: #2a2a2a; */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 8px solid white;
    margin: 64px;
    padding: 32px;
    width: 600px;
    height: 400px;
    position: absolute;
    margin-left: -300px;
    transition: left, transform;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.optionImage {
    width: 200px;
    height: 200px;
    margin-bottom: 32px;
}

.optionName {
    font-size: 24px;
}

/* .optionDescription {} */