.root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #111;
    color: white; */
}

.root.vertical {
    flex-direction: column;
}

.root.gatekeeper {
    transform: scale(0.6);
    top: -180px;
    left: -320px;
    right: -320px;
    bottom: -180px;
}